<h1>New Post:</h1>

<%= form_for :post, :url => {:action => :create} do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :body %>
  <%= f.text_area(:body, size: "100x50") %>
  <%= f.hidden_field :day %>
  <%= f.submit :submit %>
<% end %>